/* Education section */
.education-card {
  position: relative;
  display: flex;
  margin: 0;
  line-height: normal;
  color: white;
  margin: 6rem auto 0;
  margin-bottom: 10rem;
}

.education-card h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.education-card img {
  width: 150px;
}

.education-card-left {
  display: flex;
  justify-content: center;
}

.education-card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education-card-border {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 70%;
  border-top: 2px solid hsla(0, 0%, 82.7%, 0.397);
  margin-bottom: -100px;
  transition: width 0.6s ease-in-out;
}

.education-card:hover .education-card-border {
  border-top: 2px solid hsla(0, 100%, 50%, 0.356);
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .nav-link {
    font-size: 20px;
  }

  /* Education section */
  .education-card {
    display: flex;
    line-height: normal;
    color: white;
    margin-bottom: 2rem;
  }

  .education-card h1 {
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }

  .education-card-left {
    display: flex;
    justify-content: center;
  }

  .unibo-logo {
    text-align: center;
    margin: 2rem;
    width: 200px;
  }

  .education-card-border {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  /* Education section */
  .education-card,
  .reach-out-card {
    display: flex;
    margin-bottom: 2rem;
    line-height: normal;
    color: white;
    text-align: center;
    justify-content: center;
    padding-left: 0;
  }

  .education-card h1 {
    font-size: 45px;
  }

  .education-card-right h3 {
    font-size: 18px;
  }

  .education-card-right h5 {
    font-size: 13px;
  }

  .education-card-right-date {
    font-size: 10px;
  }

  .education-card-right-description {
    font-size: 15px;
  }

  .education-card-left {
    margin-top: 2.5rem;
  }

  .education-card img {
    margin-bottom: 3rem;
    width: 100px;
    margin-top: 0;
  }
}
