/* Start skills section */

/* .skills-title,
  .skills-text,
  .skills-paragraph {
    margin: 0rem;
    margin left: 0rem
    text-align: center;
  } */
.presentation-image {
  display: flex;
  justify-content: space-evenly;
}

#skills {
  display: flex;
  text-align: left;
  line-height: normal;
  color: white;
  margin-bottom: 2rem;
}

.skills-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.skills-title h1 {
  font-size: 56px;
}

.skills-paragraph {
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1.7rem;
}

.skills-explained {
  text-align: justify;
}

/* End skills section */

@media only screen and (max-width: 1399px) {
  .skills-paragraph {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.7rem;
  }
}

@media only screen and (max-width: 1199px) {
  .skills-title h1 {
    font-size: 56px;
  }

  .skills-paragraph {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.7rem;
  }
}

@media only screen and (max-width: 991px) {
  .skills-title h1 {
    font-size: 45px;
  }

  .skills-paragraph {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.4rem;
  }

  .presentation-image {
    width: 300px;
  }
}

@media only screen and (max-width: 767px) {
  #skills {
    margin-top: 3rem;
  }

  .skills-title h1 {
    font-size: 45px;
  }

  .skills-paragraph {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .skills-title,
  .skills-paragraph,
  .skills-explained {
    text-align: center;
  }

  .presentation-image {
    margin-bottom: 2rem;
  }
}
