:root {
  /* spazi tra le section */
  --small-font: 8rem;
  /* Dimensioni del font */
  --mega: 155px;
  --big: 37px;
  --medium: 30px;
  --small: 25px;
  --mini: 20px;
}

/* Work section */
.work-section {
  display: flex;
  justify-content: center;
  line-height: normal;
  color: white;
  text-align: center;
  margin-top: 5rem;
}

.work-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.work-card-syscons,
.work-card-nexum {
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 1px 20px #284893;
  width: 650px;
}

.work-card-syscons {
  box-shadow: 0 1px 20px #f32e87;
}

.work-section h1 {
  text-align: left;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.work-section img {
  width: 150px;
}

.work-logo {
  margin: 10px;
  text-align: center;
}

@media only screen and (max-width: 1399px) {
  .work-section {
    margin-bottom: 6rem;
  }

  .work-works {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .work-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work-section {
    margin-bottom: 6rem;
  }
  .work-section h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .work-section {
    margin-top: var(--small-font);
  }
  .work-section h1 {
    font-size: var(--big);
  }
}
